#*****************************
#http://www.example.com/admin/
# "/admin/"
#http://wmis.example.com
# "/"
#*****************************

RewriteEngine On
RewriteBase /m/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php [QSA,L]
