@charset "utf-8";
/* 初始化 */
body,div,span,ul,li,table,tr,td,input,a,h1,h2,h3,h4{margin: 0; padding: 0;}
body,textarea{font-family: arial; font-size: 12px;}
body{background: url("images/bg.png") #D2D4D6;}
header,section,footer,aside{display: block;}
img{border: none;}
ul{list-style: none;}
a{color: #007568; text-decoration: none;}
a:hover{color: #FF6600;}
em{color: #6FB737; font-family: 'icomoon'; font-style: normal; font-weight: normal; padding-right: 5px;}
textarea{border: #999 1px solid; background: #FFF;}
input, textarea{box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
input:focus, textarea:focus{box-shadow: 0 0 6px rgba(153, 153, 153, 0.7);}

/*.UI{background-image:url("images/admin_ui.png"); background-repeat: no-repeat; background-position:0px 0px;}*/
.left{float: left;}
.right{float: right;}
.red{color: red;}
.green{color: green;}
.c1{color: #666;}
.c2{color: #999;}
.ct{width: 1000px;}
.display{display: inline-block;}
.tleft{text-align: left;}
.tright{text-align: right;}
.center{text-align: center;}
.input{height: 22px; line-height: 22px; border: #999 1px solid; background: #FFF; display: inline-block; padding: 0 5px;}

/* login */
.login_body{position: relative; z-index: 1; width: 240px; margin: 0 auto;}
.login_top{height: 60px;}
.login_top_logo{width: 180px; height: 60px; background: url("images/logo.png") no-repeat center bottom;}
.login_title{line-height: 24px; text-align: right; color: #666;}
.login_ct{line-height: 24px; border: #FFF 1px solid; background: url("images/admin_login_line.png") repeat-x bottom center #F8F8F8; padding: 20px; border-radius: 5px; box-shadow: 2px 2px 3px #000;}
.login_ct .text input{width: 94%; height: 24px; line-height: 24px; border: #666 1px solid; background: #999; padding: 0 5px;}
.login_an{text-align: center;}
.login_an a{width: 100%; line-height: 30px; border: #666 1px solid; background: #6FB737; color: #FFF; font-weight: bold; display: block; border-radius: 3px; box-shadow: 0px 0px 2px #000;}

.login_copy{line-height: 20px; color: #666; text-align: center; background: url("images/admin_login_line_x.png") 0px 1px repeat-x; padding: 15px 0; border-radius: 5px;}
.login_copy b{color: #666;}

/* Top */
.top{height: 30px; line-height: 30px; border-bottom: #6FB737 2px solid; padding: 0 10px;}
.top .cp{float: left; color: #6FB737;}
.top .info{float: right;}
.top .out{background: #3D3D3D; color: #FF6600; padding: 2px 8px; border-radius: 5px;}

.nav_body{display: none; position: absolute; z-index: 100; border-bottom: #BBB 1px solid;padding: 10px; background: #F2F2F2; box-shadow: 0 0 5px #BBB;}
.nav_hide{text-align: center; padding-top: 10px;}
.nav_one{height: 30px; line-height: 30px; background: #3D3D3D; border-bottom: #555 1px solid; box-shadow: 0 1px 0 #000;}
.nav_one li{float: left; height: 30px; border-right: #555 1px solid; box-shadow: 1px 0 0 #000;}
.nav_one li a{padding: 0 10px; display: inline-block;}
.nav_one .null{border-right: #555 1px solid;}
.nav_one .an1{color: #FFF; background: #6FB737;}
.nav_one .an2{color: #CCC;}
.nav_two .title{color: #999;}
.nav_three{width: 100%; display: inline-block;}
.nav_three li{float: left; line-height: 32px; padding: 0 2px;}
.nav_three a{border: #B3B3B3 1px solid; background: #FFF; padding: 4px 8px; border-radius: 5px; box-shadow: 1px 1px 1px #CCC;}
.nav_three a{color: #6FB737; font-family: 'icomoon'; font-style: normal; font-weight: normal;}

/* Content */
.copy{line-height: 30px; color: #999; text-align: center; border-top: #CCC 1px solid;}
.ct_body{padding: 10px; background: url("images/an_x.jpg") 0 -70px repeat-x #FFF;}

/*
Content UI
*/
/* Inc */
.c666{color: #666;}
.c999{color: #999;}
.green{color: green;}
.red{color: #D34600;}
.code{border: #CCC 1px dashed; background: #F2F2F2; padding: 5px 10px; overflow-y: auto;}

.suc{color: #6FB737;}
.suc em:before {color: #6FB737; content: "\e0f2";}
.err{color: red;}
.err em:before {color: red; content: "\e0ed";}

.line{height: 10px;}
.fileImgView{width: 100%; height: 100%; border-collapse: collapse; text-align: center; background: url("images/bg.png") #333; margin: 0 auto;}
.delData{padding: 20px 0; text-align: center;}

/* Page */
.page{height: 50px; line-height: 50px; text-align: center; color: #999;}
.pagelist span{padding: 0 3px;}
.pagelist span a{border: #ccc 1px solid; background: #F6F6F6; color: #333; padding: 3px 6px;}
.pagelist span a:hover{border: #6FB737 1px solid; background: #F5FBF4; color: #6FB737;}
.page_cur{color: #6FB737; font-weight: bold;}

/* Checkbox */
#checkboxY,#checkboxN{font-family: 'icomoon'; font-style: normal; font-weight: normal; padding: 2px 6px;}
#checkboxN{display: none;}
#checkboxY:before {content: "\e0f0";}
#checkboxN:before {content: "\e0ef";}

/* Table */
.table{width: 100%; border-collapse: collapse; text-align: center; border-top: #6FB737 2px solid;}
.table td{border: #CFCFCF 1px solid; padding: 0 5px;}
.table .title{background: #F2F2F2;}

.table_list{width: 100%; border-collapse: collapse; text-align: center; border-top: #6FB737 2px solid; background: #FFF; box-shadow: 1px 1px 3px #BBB;}
.table_list td{border: #BBB 1px solid; line-height: 30px; padding: 0 5px;}
.table_list .title{height: 30px; color: #666; font-weight: bold; background: url("images/table_x.jpg") repeat-x #F2F2F2;}
.table_list .text{padding: 10px 20px; background: #F4F7FA; text-align: left;}
.table_list .text h1{font-size: 18px; border-bottom: #CCC 1px solid;}
.table_list .text h2{font-size: 16px; border-bottom: #CCC 1px solid;}
.table_list .text h3{font-size: 14px;}
.table_list .text h4{font-size: 12px;}
.table_add{width: 100%; border-collapse: collapse;}
.table_add td{line-height: 20px; padding: 5px;}
.table_add td .Validform_checktip{padding-left: 20px;}
.table_add .width{width: 60px;}
.table_add .right{text-align: right;}

/* UI */
.SubClass1{background: url("images/an_x.jpg") repeat-x;}
.SubClass2{background: url("images/an_x.jpg") repeat-x 0 -35px;}

.TableTrBg1{background: #F2F2F2;}
.TableTrBg2{background: #DEDEDE;}

/* Action */
.action{width: 100%; border-collapse: collapse; line-height: 30px; border: #BBB 1px solid; background: #F2F2F2; color: #999; border-radius: 3px 0 0 3px; box-shadow: 1px 1px 2px #BBB;}
.action td{padding: 0 5px;}
.action .title{width: 60px; color: #666; text-align: center; font-weight: bold; border-right: #BBB 1px solid; background: #FFF;}
.action_ct li{float: left; padding: 0 5px;}

/* ICO */
.ico-heart:before {content: "\e0c5";}

.ico-home:before {content: "\e000";}
.ico-system:before {content: "\e085";}
.ico-web:before {content: "\e1a6";}
.ico-help:before {content: "\e0eb";}

.ico-disktop:before {content: "\e201";}
.ico-user:before {content: "\e06b";}
.ico-user1:before {content: "\e066";}
.ico-pwd:before {content: "\e07c";}

.ico-system1:before {content: "\e084";}
.ico-system2:before {content: "\e080";}
.ico-menu:before {content: "\e02a";}
.ico-menuA:before {content: "\e205";}
.ico-admin:before {content: "\e067";}
.ico-fileM:before {content: "\e02b";}

.ico-logs:before {content: "\e02e";}
.ico-logs1:before {content: "\e02d";}

.ico-db:before {content: "\e1f2";}

.ico-list:before {content: "\e0f2";}
.ico-search:before {content: "\e074";}
.ico-add:before {content: "\e1ce";}
.ico-edit:before {content: "\e006";}
.ico-del:before {content: "\e0ed";}
.ico-audit:before {content: "\e1be";}
.ico-chart:before {content: "\e1cd";}
.ico-exp:before {content: "\e119";}
.ico-imp:before {content: "\e115";}
/* File */
.ico-back:before {content: "\e05c";}
.ico-addfolder:before {content: "\e088";}
.ico-addfile:before {content: "\e1cc";}
.ico-refresh:before {content: "\e0fd";}
.ico-upload:before {content: "\e113";}
.ico-down:before {content: "\e117";}
.ico-fdel:before {content: "\e0ef";}

.ico-folder:before {content: "\e02c";}
.ico-file:before {content: "\e1b2";}
.ico-ico:before {content: "\e1d7";}
.ico-html:before {content: "\e1a0";}
.ico-php:before {content: "\e19c";}
.ico-css:before {content: "\e19e";}
.ico-img:before {content: "\e00a";}
.ico-pdf:before {content: "\e1b3";}
.ico-zip:before {content: "\e1b9";}
.ico-txt:before {content: "\e025";}
.ico-doc:before {content: "\e1b5";}
.ico-xls:before {content: "\e196";}
.ico-odt:before {content: "\e1b4";}