@charset "utf-8";
/* 初始化 */
body,div,span,ul,li,table,tr,td,input,a,h1,h2,h3,h4{margin: 0; padding: 0;}
body,textarea{font-family: arial; font-size: 12px;}
body{min-width: 800px; background: url("images/bg.png") #E2E4E6;}
header,section,footer,aside{display: block;}
img{border: none;}
ul{list-style: none;}
a{color: #007568; text-decoration: none;}
a:hover{color: #FF6600;}
em{color: #6FB737; font-family: 'icomoon'; font-style: normal; font-weight: normal; padding-right: 5px;}
textarea{border: #999 1px solid; background: #EFF4FA;}
input, textarea{box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
input:focus, textarea:focus{box-shadow: 0 0 6px rgba(153, 153, 153, 0.7);}

