@charset "utf-8";
/* 初始化 */
body,div,span,ul,li,table,tr,td,input,a,h1,h2,h3,h4{margin: 0; padding: 0;}
body,textarea{font-family: arial,simsun,宋体,sans-serif; font-size: 12px;}
body{min-width: 800px; background: url("images/bg.png") #D2D4D6;}
header,section,footer,aside{display: block;}
img{border: none;}
ul{list-style: none;}
a{color: #007568; text-decoration: none;}
a:hover{color: #FF6600;}
em{color: #6FB737; font-family: 'icomoon'; font-style: normal; font-weight: normal; padding-right: 5px;}
textarea{border: #999 1px solid; background: #EFF4FA;}
input, textarea{box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
input:focus, textarea:focus{box-shadow: 0 0 6px rgba(153, 153, 153, 0.7);}

.UI{background-image:url("images/admin_ui.png"); background-repeat: no-repeat; background-position:0px 0px;}
.input{height: 22px; line-height: 22px; border: #999 1px solid; background: #EFF4FA; display: inline-block; padding: 0 5px;}

/* login */
.login_top_bg{background: url("images/admin_top_bg.jpg") top right no-repeat;}
.login_body{position: relative; z-index: 1; width: 360px; margin: 0 auto;}
.login_top{height: 60px;}
.login_top_logo{float: left; width: 260px; height: 60px; background: url("images/logo.png") no-repeat center bottom;}
.login_top_title{float: right; font-weight: bold; color: #666; padding: 38px 5px 0 0;}
.login_ct{height: 80px; border: #FFF 1px solid; background: url("images/admin_login_line.png") repeat-x bottom center #F8F8F8; border-radius: 5px; box-shadow: 2px 2px 3px #000;}
.login_ct .text{float: left; line-height: 26px; padding: 24px 0 0 10px;}
.login_ct .text input{width: 120px; height: 26px; line-height: 20px; border: #666 1px solid; background: #999; padding: 0 5px;}
.login_ct_an{float: right; width: 70px; height: 80px; text-align: center;}
.login_ct_an a{width: 50px; line-height: 50px; border: #FFF 1px solid; background: #EEE; color: #000; display: inline-block; margin-top: 14px; border-radius: 5px; box-shadow: 0px 0px 2px #333;}
.login_ct_an a:hover{border: #666 1px solid; background: #6FB737; color: #FFF;}

.login_ct_an .an{margin-top: 14px;}
.login_ct_an .an{cursor: pointer; width: 42px; height: 42px; background: #999; display: block;}
.login_ct_an .an:hover{background: #6FB737;}

.login_copy{line-height: 20px; color: #666; text-align: center; background: url("images/admin_login_line_x.png") 0px 1px repeat-x; padding: 15px 0; border-radius: 5px;}
.login_copy b{color: #666;}

/*Top*/
.top_ct{height: 50px; background: url("images/bg.jpg"); border-bottom: #555 1px solid; box-shadow: 0 1px 0 #000;}
.top_logo{float: left; padding-top: 5px;}
.top_logo a{width: 180px; height: 40px; background: url("images/logo.png") no-repeat center 4px; display: inline-block;}
.top_link{position: absolute; z-index: 1; right: 0px; line-height: 50px; color: #999; padding: 0 10px;}
.top_link a{color: #999;}
.top_link a:hover{color: #FF6600;}

.nav{float: left; height: 50px; line-height: 50px; border-left: #000 1px solid; border-right: #000 1px solid; background: #3D3D3D; box-shadow: 0 0 2px #000;}
.nav li{float: left; height: 50px; border-right: #555 1px solid; box-shadow: 1px 0 0 #000;}
.nav li a{font-size: 16px; display: inline-block; padding: 0 20px;}

.nav_an1{color: #FFF; border-left: #000 1px solid; background-color: #6FB737;}
.nav_an1:hover{color: #FFF;}
.nav_an1 em{color: #FFF;}
.nav_an1:hover em{color: #FFF;}
.nav_an2{color: #CCC;}
.nav_an2:hover{color: #FF6600; background: #000;}
.nav_an2 em{color: #CCC;}
.nav_an2:hover em{color: #FF6600;}

/*Content*/
.copy{line-height: 28px; color: #999; text-align: center; border-top: #B2B2B2 1px solid; background: url("images/line.png1") repeat-x;}
.content{margin-top: 1px;}
.ct_body{margin-top: 1px; overflow: hidden;}
.ct_left{overflow-y: auto; float: left; width: 200px; border-right: #666 1px solid; background: #E8E8E8; box-shadow: inset 0 0 3px #666; padding: 10px 0;}
.ct_right{overflow-y: auto; background: #FFF; margin-left: 200px; padding: 10px 20px;}

.left_copy{width: 90%; line-height: 28px; font-size: 11px; color: #999; text-align: center; border-top: #CCC 1px solid; box-shadow: inset 0 1px 0 #FFF; margin: 0 auto;}
.left_copy a{color: #999;}
.left_copy a:hover{color: #FF6600;}
.left_title{cursor: pointer; width: 90%; padding: 5px 0; font-size: 12px; color: #999; font-weight: bold; border-bottom: #CCC 1px solid; box-shadow: 0 1px 0 #FFF; margin: 0 auto;}
.left_title em{color: #999;}
.left_list{padding: 4px 0;}
.left_list li{padding: 2px 0;}
.left_list li a{font-size: 13px; display: block; padding: 4px 10px;}
.left_list li a em{position: relative; font-size: 16px; top: 2px;}

.left_an1{background: #6FB737; color: #FFF; box-shadow: 0 0 2px #666; border-top: #EEE 1px solid; border-bottom: #EEE 1px solid;}
.left_an1:hover{color: #FFF;}
.left_an1 em{color: #FFF;}
.left_an2{color: #333;}
.left_an2:hover{color: #333; background: #DEDEDE;}
.left_an2 em{color: #666;}
.left_an2:hover em{color: #6FB737;}

/*
Content UI
*/
/* Inc */
.c666{color: #666;}
.c999{color: #999;}
.green{color: green;}
.red{color: #D34600;}
.code{border: #CCC 1px dashed; background: #F2F2F2; padding: 5px 10px; overflow-y: auto;}
.h3_ccc{font-size: 12px; border-bottom: #ccc 1px solid;}
.h3_ccc span{font-weight: normal; color: #999;}

.suc{color: #6FB737;}
.suc em:before {color: #6FB737; content: "\e0f2";}
.err{color: red;}
.err em:before {color: red; content: "\e0ed";}

.line{height: 10px;}
.fileImgView{width: 100%; height: 340px; border-collapse: collapse; text-align: center; background: url("images/bg.png") #333; margin: 0 auto;}
.delData{padding: 20px 0; text-align: center;}

.web_iframe{width: 100%; border: none;}

/* Show */
.show_body{padding: 20px;}
.show_title{height: 50px; line-height: 50px; text-align: center; font-size: 16px; font-weight: bold;}
.show_other{text-align: center; color: #999; padding: 5px 0;}
.show_summary{line-height: 24px; border: #CCC 1px solid; background: #F2F2F2; padding: 10px;}
.show_ct{line-height: 24px; font-size: 14px; padding-top: 10px;}
.show_key{line-height: 24px; color: #999;}

/* Page */
.page{height: 50px; line-height: 50px; text-align: center; color: #999;}
.pagelist span{padding: 0 3px;}
.pagelist span a{border: #ccc 1px solid; background: #F6F6F6; color: #333; padding: 3px 6px;}
.pagelist span a:hover{border: #6FB737 1px solid; background: #F5FBF4; color: #6FB737;}
.page_cur{color: #6FB737; font-weight: bold;}

/* Checkbox */
#checkboxY,#checkboxN{font-family: 'icomoon'; font-style: normal; font-weight: normal; padding: 2px 6px;}
#checkboxN{display: none;}
#checkboxY:before {content: "\e0f0";}
#checkboxN:before {content: "\e0ef";}

/* Table */
.table{width: 100%; border-collapse: collapse; text-align: center; border-top: #6FB737 2px solid;}
.table td{border: #CFCFCF 1px solid; padding: 0 5px;}
.table .title{background: #F2F2F2;}

.table_list{width: 100%; border-collapse: collapse; text-align: center; border-top: #6FB737 2px solid; background: #FFF; box-shadow: 1px 1px 2px #BBB;}
.table_list td{border: #BBB 1px solid; line-height: 30px; padding: 0 5px;}
.table_list .title{height: 30px; color: #666; font-weight: bold; background: url("images/table_x.jpg") repeat-x #F2F2F2;}
.table_list .text{padding: 10px 20px; background: #F2F2F2; text-align: left;}
.table_list .text h1{font-size: 18px; border-bottom: #CCC 1px solid;}
.table_list .text h2{font-size: 16px; border-bottom: #CCC 1px solid;}
.table_list .text h3{font-size: 14px;}
.table_list .text h4{font-size: 12px;}

.table_list_show{width: 100%; border-collapse: collapse; text-align: center; background: #FFF; margin: 0 auto;}
.table_list_show td{border: #CFCFCF 1px solid; padding: 5px;}

.table_add{width: 100%; border-collapse: collapse;}
.table_add td{line-height: 20px; padding: 5px;}
.table_add td .Validform_checktip{padding-left: 20px;}
.table_add .width{width: 90px;}
.table_add .right{text-align: right;}

/* UI */
.SubClass1{background: url("images/an_x.jpg") repeat-x;}
.SubClass2{background: url("images/an_x.jpg") repeat-x 0 -35px;}

.TableTrBg1{background: #F2F2F2;}
.TableTrBg2{background: #DEDEDE;}

/* Action */
.action{width: 100%; border-collapse: collapse; line-height: 30px; border: #BBB 1px solid; background: #F2F2F2; color: #999; border-radius: 3px 0 0 3px; box-shadow: 1px 1px 2px #BBB;}
.action td{padding: 0 5px;}
.action .title{width: 80px; color: #666; text-align: center; font-weight: bold; border-right: #BBB 1px solid; background: #FFF;}
.action_ct li{float: left; padding: 0 2px;}
.action_ct li a{padding: 0 6px; display: block;}
.action_ct li a:hover{background: #6FB737; color: #FFF;}
.action_ct li a:hover em{color: #FFF;}

/* ICO */
.ico-heart:before {content: "\e0c5";}

.ico-home:before {content: "\e000";}
.ico-system:before {content: "\e085";}
.ico-web:before {content: "\e1a6";}
.ico-help:before {content: "\e0eb";}

.ico-disktop:before {content: "\e201";}
.ico-user:before {content: "\e06b";}
.ico-user1:before {content: "\e066";}
.ico-pwd:before {content: "\e07c";}

.ico-system1:before {content: "\e084";}
.ico-system2:before {content: "\e080";}
.ico-menu:before {content: "\e02a";}
.ico-menuA:before {content: "\e205";}
.ico-admin:before {content: "\e067";}
.ico-fileM:before {content: "\e02b";}

.ico-logs:before {content: "\e02e";}
.ico-logs1:before {content: "\e02d";}

.ico-db:before {content: "\e1f2";}

.ico-list:before {content: "\e0f2";}
.ico-search:before {content: "\e074";}
.ico-add:before {content: "\e1ce";}
.ico-edit:before {content: "\e006";}
.ico-del:before {content: "\e0ed";}
.ico-audit:before {content: "\e1be";}
.ico-chart:before {content: "\e1cd";}
.ico-exp:before {content: "\e119";}
.ico-imp:before {content: "\e115";}

/* File */
.ico-back:before {content: "\e05c";}
.ico-addfolder:before {content: "\e088";}
.ico-addfile:before {content: "\e1cc";}
.ico-refresh:before {content: "\e0fd";}
.ico-upload:before {content: "\e113";}
.ico-down:before {content: "\e117";}
.ico-fdel:before {content: "\e0ef";}

.ico-folder:before {content: "\e02c";}
.ico-file:before {content: "\e1b2";}
.ico-ico:before {content: "\e1d7";}
.ico-html:before {content: "\e1a0";}
.ico-php:before {content: "\e19c";}
.ico-css:before {content: "\e19e";}
.ico-img:before {content: "\e00a";}
.ico-pdf:before {content: "\e1b3";}
.ico-zip:before {content: "\e1b9";}
.ico-txt:before {content: "\e025";}
.ico-doc:before {content: "\e1b5";}
.ico-xls:before {content: "\e196";}
.ico-odt:before {content: "\e1b4";}

