@charset "utf-8";
/* 初始化 */
body,div,span,ul,li,table,tr,td,input,a,h1,h2,h3,h4{margin: 0; padding: 0;}
body,textarea{font-family: arial; font-size: 12px;}
header,section,footer,aside{display: block;}
a{color: #007568; text-decoration: none;}
a:hover{color: #FF6600;}
/* 字体图标 */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?bspy45');
	src:url('fonts/icomoon.eot?#iefixbspy45') format('embedded-opentype'),
		url('fonts/icomoon.ttf?bspy45') format('truetype'),
		url('fonts/icomoon.woff?bspy45') format('woff'),
		url('fonts/icomoon.svg?bspy45#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
em{color: #6FB737; font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal;}
/* Inc */
.red{color: red;}
.green{color: green;}
.suc{color: #6FB737; padding-left: 10px;}
.suc em,.err em{padding-right: 6px;}
.suc em:before {color: #6FB737; content: "\e637";}
.err{color: #FF6600; padding-left: 10px;}
.err em:before {color: #FF6600; content: "\e636";}

/* WebMisMsg */
#WebMisWinBg{position: fixed; z-index:100; width: 100%; left: 0; top: 0; display: none; background-color: #000;}
#WebMisWin{position: fixed; z-index:101; border: #FFF 1px solid; border-top: #6FB737 3px solid; background-color: #F5F5F5; margin: 0 auto; border-radius: 5px 5px 0 0; box-shadow: 0px 0px 8px #000;}
.WebMisWin_top{cursor: all-scroll; height: 30px; line-height: 30px; border-bottom: #CCC 1px solid; padding: 0 5px; box-shadow: 0px 1px 0px #FFF;}
.WebMisWin_top .title{float: left; font-size: 13px; font-weight: bold; color: #666; padding: 0 10px;}
.WebMisWin_top .close{float: right; color: #999;}
.WebMisWin_top .close em:hover{color: #FF6600;}
.WebMisWin_top .close em:before {content: "\e660"; font-size: 18px;}
.WebMisWin_ct{padding: 10px 0;}
.WebMisWin_ct .load{text-align: center;}
.WebMisWin_ct .onLoad{padding: 5px 10px; background:url(images/onLoad.gif) no-repeat center center;}

.WebMisTopMenu a{cursor: pointer; height: 20px; line-height: 20px; display: inline-block; margin: 9px 2px 0px 2px; padding: 0 20px; border-radius: 3px 3px 0 0;}
.WebMisTopMenu .an1{border: #3F9707 1px solid; border-bottom: none; background-color: #6FB737; color: #FFF;}
.WebMisTopMenu .an2{border: #CCC 1px solid; border-bottom: none; background-color: #F2F2F2; color: #333;}

/* WebMisVod */
#WebMisVodBg{position: fixed; z-index:100; width: 100%; left: 0; top: 0; display: none;}
#WebMisVodCT{background-color: #000; margin: 0 auto; border: #333 1px solid; box-shadow: 1px 1px 5px #000;}
.WebMisVodTop{line-height: 30px; font-size: 14px;}
.WebMisVodTop .title{float: left; color: #CCC; padding: 0 15px;}
.WebMisVodTop .close{float: right; cursor: pointer; color: #999; margin-right: 5px;}
.WebMisVodTop .close:hover{color: #FF6600;}
.WebMisVodTop .close:before {content: "\e1fa";}

/* WebMisMsg */
.msgShowBG{display:none;}

/* Menu */
.NavMenu em{font-family: 'icomoon'; font-style: normal; font-weight: normal;}
.NavMenu ul{display: none; position: absolute; z-index: 100; width: 150px; border: #FFF 1px solid; background: #FAFAFA; color: #666; box-shadow: 1px 1px 2px #000;}
.NavMenu ul li{position:relative; width: 100%;}
.NavMenu ul li a{display: block;}
.NavMenu ul li em{padding-left: 10px;}
.NavMenu_img .menuTitle{float: right; font-size: 10px; color: #999;}
.NavMenu_img .menuTitle:before {content: "\e10f";}

/* Table */
.TableTrBg1{background: #F4F7FA;}
.TableTrBg2{background: #E2ECF7;}
.TableAdjust{cursor: e-resize; position: fixed; width: 4px; margin-left: -7px;}

/* Table */
.SubClass1,.SubClass2{cursor: pointer; height: 32px; padding: 0 20px; border-radius: 3px; box-shadow: 1px 1px 2px #999;}
.SubClass1{border: #999 1px solid; background-color: #F2F2F2; color: #666;}
.SubClass2{border: #339900 1px solid; background-color: #6FB737; color: #FFF;}

/*==========以下部分是Validform必须的===========*/
.Validform_checktip{line-height: 30px; height: 30px; overflow:hidden; color:#999; font-size:12px; padding-left: 25px; display: none;}
.Validform_right{color:#71b83d; background:url(images/right.png) no-repeat 5px center; display: inline-block;}
.Validform_wrong{color:red; white-space:nowrap; background:url(images/error.png) no-repeat 5px center; display: inline-block;}
.Validform_loading{padding-left:20px; background:url(images/onLoad.gif) no-repeat left center;}
.Validform_error{background-color:#FFF;}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}