@charset "utf-8";
/* 初始化 */
body,div,span,ul,li,table,tr,td,input,a,h1,h2,h3,h4{margin: 0; padding: 0;}
body,textarea{font-family: arial,simsun,宋体,sans-serif; font-size: 12px;}
body{background: #E3E3E3;}
img{border: none;}
ul{list-style: none;}
a{color: #007568; text-decoration: none;}
a:hover{color: #FF6600;}
.input{height: 22px; line-height: 22px; border: #CACCCB 1px solid; background: #FFF; padding: 0 5px;}
input{box-shadow 0.2s linear 0s; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
input:focus{border-color: rgba(153, 153, 153, 0.8); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(153, 153, 153, 0.6); outline: 0 none;}
table{width: 100%; border-collapse: collapse;}
table td{padding: 5px 0; vertical-align: top;}

.body{width: 60%; min-width: 600px; margin: 10px auto;}
.top{width: 100%; display: inline-block;}
.top_logo{float: left; width: 160px; height: 60px; background:url("../public/images/logo.jpg") no-repeat center center; padding: 5px 0;}
.top_link{float: right; line-height: 24px; margin-top: 40px; padding-right: 10px;}
.copy{text-align: center; color: #999; padding: 15px 0;}

.ct{border: #CACCCB 1px solid; background: url("../webmis/images/msg_bg.jpg") repeat-x #FFF; border-radius: 5px; box-shadow: 1px 1px 1px #CCC;}
.ct_top{border-bottom: #CACCCB 1px solid; padding: 10px; color: #999;}
.ct_ct{width: 100%; background-color: #FFF;}
.ct_ct_body{width: 95%; padding: 10px 0; margin: 0 auto;}
.ct_bt{width: 100%; border-top: #CACCCB 1px solid; text-align: right; padding: 10px 0; display: inline-block;}
.ct_bt_msg{float: left; color: #999; padding-left: 10px;}
.ct_bt_an{float: right; padding-right: 10px; display: none;}
.tab{color: #6FB737; font-weight: bold;}
.an{padding: 3px 15px; border: #CACCCB 1px solid; background-color: #F2F2F2; border-radius: 3px; box-shadow: 1px 1px 0px #999;}
.an:hover{border: #2C8404 1px solid; background-color: #6FB737; color: #FFF;}

.code{border: #CACCCB 1px solid; background-color: #F2F2F2; line-height: 20px; padding: 10px;}
.left{float: left;}
.right{float: right;}

.logo{width: 150px; height: 50px; background:url("../public/images/webmis.gif") no-repeat center center;}
.in_term{height: 330px; overflow-y: auto;}
.in_conf{width: 45%; height: 320px; overflow-y: auto;}

/*ICO*/
.suc{color: #6FB737;}
.suc em{padding: 2px 10px; background:url("../webmis/images/right.png") no-repeat center center;}
.err{color: red;}
.err em{padding: 2px 10px; background:url("../webmis/images/error.png") no-repeat center center;}
.load{color: #6FB737;}
.load em{padding: 2px 10px; background:url("../webmis/images/onLoad.gif") no-repeat center center;}
.c666{color: #666;}
