@charset "utf-8";
/* 初始化 */
body,div,span,ul,li,table,tr,td,input,a,h1,h2,h3,h4{margin: 0; padding: 0;}
body,textarea{font-family: arial; font-size: 12px;}
body{background: url("images/bg.png") #F4F7FA;}
header,section,footer,aside{display: block;}
img{border: none;}
ul{list-style: none;}
a{color: #007568; text-decoration: none;}
a:hover{color: #FF6600;}
em{color: #6FB737; font-family: 'icomoon'; font-style: normal; font-weight: normal; padding-right: 5px;}
textarea{line-height: 24px; border: #999 1px solid; background: #FFF; padding: 5px;}
input, textarea{box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
input:focus, textarea:focus{box-shadow: 0 0 6px rgba(153, 153, 153, 0.7);}

/*.UI{background-image:url("images/admin_ui.png"); background-repeat: no-repeat; background-position:0px 0px;}*/
.left{float: left;}
.right{float: right;}
.red{color: red;}
.green{color: green;}
.c1{color: #666;}
.c2{color: #999;}
.ct{width: 1000px;}
.display{display: inline-block;}
.tleft{text-align: left;}
.tright{text-align: right;}
.center{text-align: center;}
.input{float: left; height: 30px; line-height: 30px; border: #999 1px solid; background: #FFF; display: inline-block; padding: 0 5px;}
.inputText{float: left; height: 30px; line-height: 30px; padding: 0 8px;}
.Validform_checktip{float: left;}
.Checkbox{float: left; margin-top: 8px;}
.noDisplay{display: none;}

/* login */
.login_bg{background: url("images/admin_login_bg_mo.png") top repeat-x #CCC;}
.login_body{position: relative; z-index: 1; margin: 0 auto; padding: 0px 2em; max-width: 360px;}
.login_top{height: 60px;}
.login_top_logo{height: 60px; background: url("images/admin_logo.gif") no-repeat center bottom;}
.login_title{height: 2em; text-align: right; color: #666;}
.login_ct{line-height: 24px; border: #999 1px solid; background: url("images/admin_login_line.png") top repeat-x #DDD; padding: 20px; border-radius: 5px;}
.login_ct .text input{width: 100%; height: 2em; border: #666 1px solid; font-size: 1.4em; text-indent: 10px;}
.login_an{text-align: center;}
.login_an a{width: 100%; line-height: 30px; border: #339900 1px solid; background: url("images/admin_login_an_mo.png") top repeat-x; color: #FFF; font-weight: bold; display: block; border-radius: 5px; box-shadow: 0px 0px 2px #999;}

.login_copy{line-height: 20px; color: #999; text-align: center; background: url("images/admin_login_line_x.png") 0px 1px repeat-x; padding: 15px 0; border-radius: 5px;}
.login_copy b{color: #999;}

.lang_ct{position: absolute; z-index: 10; cursor: pointer; width: 100%; height: 36px; line-height: 36px; background-color: rgba(0,0,0,0.7); color: #FFF; font-size: 14px; text-align: center; box-shadow: 1px 1px 3px #333;}
.lang{display: none; position: absolute; width: 100%; background-color: rgba(0,0,0,0.7); padding: 8px 0; border-top: #333 1px solid; border-bottom: #333 1px solid;}
.lang li a{color: #FFF; text-align: left; padding-left: 10px; display: block;}
.lang li a:hover{background-color: #6FB737;}

/* Top */
.top{height: 50px; border-bottom: #6FB737 2px solid; padding: 0 10px;}
.top .logo{float: left; width: 160px; height: 50px; background: url("images/admin_logo.gif") no-repeat left 10px;}
.top .info{position: absolute; right: 10px; margin-top: 30px;}

.nav_ct{width: 100%; height: 34px; overflow: hidden; backface-visibility: hidden; border-bottom: #BBB 1px solid; background: url("images/admin_top_nav_x.jpg") 0 0px repeat-x #FFF; box-shadow: 1px 1px 3px #CCC;}
.nav{position: relative; left: 0px; width: 1600px; height: 33px; line-height: 33px; font-size: 14px;}
.nav li{float: left; width: 80px; color: #FFF; border-right: #6FB737 1px solid; box-shadow: 1px 0 0 #FFF; text-align: center;}
.nav li a{display: block;}
.nav .null{border-right: #6FB737 1px solid;}
.nav .an1{color: #FFF; background: url("images/admin_top_nav_x.jpg") repeat-x 0 -35px;}
.nav .an1 em{color: #FFF;}
.nav .an2{color: #333;}

.left_menu{position: fixed; left: 0.2em; top: 50%; width: 21px; height: 100px; line-height: 100px; margin-top: -100px; background-color: rgba(0,0,0,0.6); font-size: 16px; color: #FFF; text-align: center; border-radius: 3px;}

.menu_ct{display: none; position: fixed; top: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); overflow-y: auto; padding: 1em 0px;}
.menu_ct .title a{color: #38B000; font-weight: bold; padding: 0 1em;}
.menu_ct .title a em{color: #38B000;}
.menu_ct .list{font-size: 1.2em;}
.menu_ct .list li{padding: 2px;}
.menu_ct .list li a{color: #FFF; line-height: 2.2em; padding: 0 1em; display: block;}
.menu_ct .list li a em{color: #FFF;}

.left_an1{background: #6FB737; color: #FFF; box-shadow: 0 0 2px #666;}
.left_an1 em{color: #FFF;}
.left_an2{color: #333;}
.left_an2 em{color: #666;}

/* Content */
.copy{line-height: 30px; color: #999; text-align: center; border-top: #DADCDF 1px solid;}
.ct_body{padding: 0.5em; background: url("images/admin_top_nav_x.jpg") 0 -70px repeat-x #FFF;}

/*
Content UI
*/
/* Inc */
.c666{color: #666;}
.c999{color: #999;}
.green{color: green;}
.red{color: #D34600;}
.code{border: #CCC 1px dashed; background: #F2F2F2; padding: 5px 10px; overflow-y: auto;}

.suc{color: #6FB737;}
.suc em:before {color: #6FB737; content: "\e637"; font-size: 14px;}
.err{color: red;}
.err em:before {color: red; content: "\e636"; font-size: 14px;}

.line{height: 10px; background: url("images/admin_top_nav_x.jpg") 0 -71px repeat-x; border-radius: 3px;}
.fileImgView{width: 100%; height: 100%; border-collapse: collapse; text-align: center; background: url("images/bg.png") #333; margin: 0 auto;}
.delData{padding: 20px 0; text-align: center;}

/* Show */
.show_body{padding: 20px;}
.show_title{height: 50px; line-height: 50px; text-align: center; font-size: 16px; font-weight: bold;}
.show_other{text-align: center; color: #999; padding: 5px 0;}
.show_summary{line-height: 24px; border: #CCC 1px solid; background: #FFF; padding: 10px;}
.show_ct{line-height: 24px; font-size: 14px; padding-top: 10px;}
.show_key{line-height: 24px; color: #999;}

/* Page */
.page{height: 50px; line-height: 50px; text-align: center; color: #999;}
.pagelist span{padding: 0 3px;}
.pagelist span a{border: #ccc 1px solid; background: #F6F6F6; color: #333; padding: 3px 6px;}
.pagelist span a:hover{border: #6FB737 1px solid; background: #F5FBF4; color: #6FB737;}
.page_cur{color: #6FB737; font-weight: bold;}

/* Checkbox */
#checkboxY,#checkboxN{font-family: 'icomoon'; font-style: normal; font-weight: normal; font-size: 14px; color: #6FB737; padding: 2px 2px;}
#checkboxN{display: none;}
#checkboxY:before {content: "\e637";}
#checkboxN:before {content: "\e636";}

/* Table */
.table{width: 100%; border-collapse: collapse; text-align: center; border-top: #6FB737 2px solid;}
.table td{border: #CFCFCF 1px solid; padding: 0 5px;}
.table .title{background: #F2F2F2;}

.table_list{width: 100%; border-collapse: collapse; text-align: center; border-top: #6FB737 2px solid; background: #FFF; box-shadow: 1px 1px 3px #BBB;}
.table_list td{border: #BBB 1px solid; line-height: 30px; padding: 0 5px;}
.table_list .title{height: 30px; color: #666; font-weight: bold; background: url("images/admin_tb_x.jpg") repeat-x #F4F7FA;}
.table_list .text{padding: 10px 20px; background: #F4F7FA; text-align: left;}
.table_list .text h1{font-size: 18px; border-bottom: #CCC 1px solid;}
.table_list .text h2{font-size: 16px; border-bottom: #CCC 1px solid;}
.table_list .text h3{font-size: 14px;}
.table_list .text h4{font-size: 12px;}
.table_add{width: 100%; border-collapse: collapse;}
.table_add td{line-height: 20px; padding: 5px;}
.table_add td .Validform_checktip{padding-left: 20px;}
.table_add .width{width: 60px;}
.table_add .right{text-align: right;}

/* Action */
.action{width: 100%; border-collapse: collapse; border: #BBB 1px solid; background: #F2F2F2; color: #999; border-radius: 3px 0 0 3px; box-shadow: 1px 1px 2px #BBB;}
.action td{float: left; width: 100%;}
.action .title{height: 32px; line-height: 32px; color: #999; text-align: center; font-weight: bold; border-right: #BBB 1px solid; border-bottom: #BBB 1px solid; background: #FFF;}
.action_ct{line-height: 30px; overflow: hidden;}
.action_ct li{float: left; padding: 0 5px;}

/* ICO */
.ico-heart:before {content: "\e650";}

.ico-home:before {content: "\e620";}
.ico-system:before {content: "\e621";}
.ico-web:before {content: "\e62f";}
.ico-logs:before {content: "\e606";}
.ico-help:before {content: "\e663";}

.ico-disktop:before {content: "\e612";}
.ico-user:before {content: "\e61a";}
.ico-user1:before {content: "\e61b";}
.ico-pwd:before {content: "\e61d";}

.ico-system1:before {content: "\e658";}
.ico-system2:before {content: "\e622";}
.ico-menu:before {content: "\e62a";}
.ico-menuA:before {content: "\e637";}
.ico-admin:before {content: "\e61a";}
.ico-fileM:before {content: "\e677";}

.ico-logs1:before {content: "\e605";}

.ico-db:before {content: "\e62b";}

.ico-list:before {content: "\e637";}
.ico-search:before {content: "\e65e";}
.ico-add:before {content: "\e670";}
.ico-edit:before {content: "\e600";}
.ico-del:before {content: "\e636";}
.ico-audit:before {content: "\e61f";}
.ico-chart:before {content: "\e623";}
.ico-exp:before {content: "\e62c";}
.ico-imp:before {content: "\e62d";}

/* File */
.ico-back:before {content: "\e65d";}
.ico-addfolder:before {content: "\e65b";}
.ico-addfile:before {content: "\e67d";}
.ico-refresh:before {content: "\e664";}
.ico-upload:before {content: "\e62d";}
.ico-down:before {content: "\e62c";}
.ico-fdel:before {content: "\e636";}

.ico-folder:before {content: "\e65b";}
.ico-file:before {content: "\e67d";}
.ico-ico:before {content: "\e63e";}
.ico-html:before {content: "\e649";}
.ico-php:before {content: "\e649";}
.ico-css:before {content: "\e64a";}
.ico-img:before {content: "\e603";}
.ico-pdf:before {content: "\e643";}
.ico-zip:before {content: "\e647";}
.ico-txt:before {content: "\e642";}
.ico-doc:before {content: "\e645";}
.ico-xls:before {content: "\e646";}
.ico-odt:before {content: "\e644";}